/* ----------------------------------
    RESET
-----------------------------------*/    

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    object-fit: cover;
}

.col-4{
    padding: 20px;
}

.name-container{
    text-align: center;
    background-color: whitesmoke;
}

.ruolo-container{
    text-align: center;
    background-color: whitesmoke;

}

h1 , h3{
    text-align: center;
}

form{
    max-width: 700px;
    margin: 0 auto ;
    padding-top: 50px;
}