/* ----------------------------------
    RESET
-----------------------------------*/    

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(79, 116, 5);
}

img{
    object-fit: cover;
    border-radius: 30px;
}

.col-4{
    padding: 20px;
}

.name-container , .ruolo-container{
    text-align: center;
    background-color: rgb(176, 255, 18);
    padding: 5px;
    border-radius: 10px;
}

.name-container{
    color: white;
    font-size: large;
}

.ruolo-container{
    font-size: small;
    color: rgb(163, 163, 38);
}


h1 , h5{
    text-align: center;
}

h1{
    color: yellowgreen;
}
h5{
    color: whitesmoke;
}

form{
    max-width: 700px;
    margin: 0 auto ;
    padding: 50px;
}