/* ----------------------------------
    RESET
-----------------------------------*/    

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    object-fit: cover;
}

.col-4{
    padding: 20px;
}

.name-container{
    text-align: center;
}

.ruolo-container{
    text-align: center;
}